<%- include('partials/header') %>
<div class="container my-5">
  <div class="row">
    <div class="col-md-9npm install express morgan cookie-parser ejs
node app.js
">
      <h2>Do que se trata</h2>
      <p>Aqui vc pode encontrar receitas praticas que podem ajudr a fazer algo diferente, rotineiro ou seja o que for que etseja procurando para comer.</p>
    </div>
    <div class="col-md-6">
      <h2>praticidade</h2>
      <p>de dicas e receitinhas simples as mais "complexas".</p>
    </div>
  </div>
</div>
<%- include('partials/footer') %>