<%- include('partials/header') %>
<main class="container my-5">
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Imagem 1">
        <div class="card-body">
          <h5 class="card-title">tipos</h5>
          <p class="card-text">informações.</p>
          <a href="/curiosidades" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Imagem 2">
        <div class="card-body">
          <h5 class="card-title">receitas</h5>
          <p class="card-text">tipos de receitas para vc.</p>
          <a href="/titulo" class="btn btn-warning text-dark">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Imagem 3">
        <div class="card-body">
          <h5 class="card-title">exemplos</h5>
          <p class="card-text">alguns exemplos de receitas.</p>
          <a href="/nada" class="btn btn-success">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>