<%- include('partials/header') %>

<div class="container my-5">
  <div class="row">
    <!-- Coluna 1: Receita simples -->
    <div class="col-md-6">
      <h2>Receitinha Simples</h2>
      <p>
        <strong>Nescal cereal:</strong><br>
        <u>Ingredientes:</u><br>
        - 1 xícara de farinha de aveia<br>
        - 2 colheres de sopa de cacau em pó 70%<br>
        - 1 colher de sopa de óleo de coco<br>
        - 1/2 xícara de leite da sua preferência<br>
        - 2 colheres de sopa de mel<br><br>

        <u>Modo de preparo:</u><br>
        Misture todos os ingredientes e asse por 15 a 20 minutos a 180°C.
      </p>
    </div>

    <!-- Coluna 2: Receita prática -->
    <div class="col-md-6">
      <h2>Receita Prática</h2>
      <p style="font-family: 'Anton', sans-serif; color: rgb(255, 244, 244);">
        <strong>cupcake de oreo   :</strong><br>
        - 250g de açúcar<br>
        - 125g de manteiga<br>
        - 150g de ovos<br>
        - 200g de leite<br>
        - 250g de farinha T55 (sem fermento)<br>
        - 125g de bolachas Oreo moídas (sem recheio)<br>
        - 1 colher (café) de aroma de baunilha<br>
        - 15g de fermento em pó<br><br>

        <strong>Cobertura:</strong><br>
        - 400g de manteiga sem sal (temperatura ambiente)<br>
        - 500g de açúcar em pó<br>
        - 1 colher (sopa) de aroma de baunilha<br>
        - 40g de óleo<br>
        - 125g de bolachas Oreo moídas (sem recheio)<br>
        - Bolachas Oreo para decorar
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
