<%- include('partials/header') %>
<div class="container my-5">
  <div class="mb-4 p-3 bg-dark text-white">
    <h2 style="font-family: 'Anton', sans-serif;">receites doces</h2>
    <p>Bolinho formigueiro...</p>
  </div>
  <div class="mb-4 p-3 bg-dark text-white">
    <h2 style="font-family: 'Anton', sans-serif;">cozinha</h2>
    <p>Salada...</p>
  </div>
  <div class="mb-4 p-3 bg-dark text-white">
    <h2 style="font-family: 'Anton', sans-serif;">salgados</h2>
    <p>Coxinha...</p>
  </div>
</div>
<%- include('partials/footer') %>